@import "tailwindcss";

:root {
  --background: #F0EBDF;
  --foreground: #000000;
}

@theme {
  --color-primary: #3E5F90;
  --color-brand-bg: #F0EBDF;
  --font-serif: var(--font-kaushan), cursive;
  --font-sans: var(--font-roboto), sans-serif;
  --font-playfair: var(--font-playfair), serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}



